<div>
  <div
    class="shadow p-3 mb-3 rounded"
    style="background-color: #050336; color: white"
  >
    <h1>User Dashboard</h1>
  </div>
  <div
    class="shadow p-3 mb-3 bg-body rounded"
    style="border: #050336 solid 2px"
  >
    <h3>user detail</h3>
    <p><b>Name : </b>{{ name }}</p>
    <p><b>Email : </b>{{ email }}</p>
    <p><b>Address : </b>{{ address }}</p>
    <p><b>Mobile no : </b>{{ phone }}</p>
  </div>
  <div class="shadow p-3 mb-3 rounded" style="border: #050336 solid 2px">
    <app-appointments />
  </div>
  <!-- <app-video-call/> -->
</div>
